# indexer/requirements.txt

# --- Wajib untuk PyTorch versi CPU ---
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
torchaudio
# ------------------------------------

fastapi
uvicorn
numpy
sentence-transformers
supabase
python-dotenv
pypdf
scikit-learn
langchain # <-- Ganti spaCy dengan ini